@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.container-principal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-principal {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 50px;
}

.container-home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    margin-bottom: 50px;
}

.container-esquerdo{
    width: 70%;
    height: 100%;
    display: flex;
    margin-right: 3%;
    flex-direction: column;
}

.container-esquerdo img{
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
}

.barra-de-cima{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.barra-de-cima  .barra-de-cima-links{
    display: flex;
    align-items: center;
}
.barra-de-cima  .barra-de-cima-links a{
    margin-left: 85px;
    color: hsl(236, 13%, 42%);
}
.manchete-conteudo{
    height: 100%;
    display: flex;
}

.manchete-conteudo .manchete{
    width: 100%;
    height: auto;
    display: flex;
    margin-right: 50px;
}

.manchete-conteudo .manchete h1{
    font-weight: 800;
    font-size: 60px;
}

.machete-conteudo .conteudo{
    width: 100%;
}

.manchete-conteudo .conteudo p{
    font-size: 20px;
    color: hsl(236, 13%, 42%);
    margin-top: 20px;
    margin-bottom: 60px;
}

.conteudo-principal .conteudo button{
    width: 50%;
    height: 50px;
    border:none;
    background-color: hsl(5, 85%, 63%);
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}

.home-conteudo .container-direito{
    width: 32%;
    height: 100%;
    background-color: hsl(240, 10%, 16%);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.home-conteudo .container-direito *{
    background-color: transparent
}

.home-conteudo .container-direito h1{
    margin-bottom: 40px;
    font-size: 40px;
    color: hsl(35, 77%, 62%);
}

.home-conteudo .container-direito h2{
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}

.home-conteudo .container-direito p{
    color: white;
    margin-bottom: 20px;
    font-weight: 200;

}

.home-conteudo .container-direito span{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 20px;
}

.cards{
    display: greed;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-bottom: 50px;

}

.card1,
.card2,
.card3{
    display: flex;
    height: 300px;
}

.cards .img.card{
    margin-right: 30px;
}

.cards .img.card img{
    object-fit: cover;
    width: 100%;
    height: 110px;
}
.cards h1{
    color: hsl(233, 13%, 49%);
    font-size: 40px;
    margin-bottom: 20px;
}

.cards h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.cards p{
    font-size: 20px;

}
